@import '../../styles/colors.scss';

.header{
    background-color: $primary;

    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 40px solid $primaryDark;

    svg {
        margin-top: 24px;
    }

    h1 {
        color: $white;
        margin: 16px 0px 24px;
    }
}